# =========================
# OS / editor / IDE
# =========================
*.DS_Store
Thumbs.db
*~$*
.vscode/
.idea/
.history/
*.swp
*.swo

# =========================
# Environment / secrets
# =========================
.env
.env.*
!.env.example
.venv
venv/
django_secret_key
db/django_secret_key
db/pg_password.txt
*.pem
*.key
!**/tests/**/*.key
!**/fixtures/**/*.key

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
.pytest_cache/
.coverage
coverage.xml
htmlcov/
pytest-report.html
.mypy_cache/
.ruff_cache/
/backend/profiles
/backend/staticfiles/
/backend/static/
./backend/ciso_assistant/.meta

# =========================
# Node / Frontend
# =========================
**/node_modules/
**/dist/
**/.svelte-kit/
**/.turbo/
**/.netlify/
**/.vercel/
.pnpm-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/frontend/build
/frontend/tests/results/
/frontend/tests/reports/
/frontend/tests/.frontend_hash*
/frontend/.testbackendoutput.out
/frontend/coverage/

# =========================
# Databases & local data
# =========================
*.sqlite3
*.sqlite3-journal
/db/
temp/
caddy_data/
**/.meta
*.log
*.bak
*.dccache

# =========================
# Build / deploy artifacts
# =========================
charts/custom-values.yaml
**/charts/*/charts
charts/ciso-assistant-next/custom.yaml

# =========================
# Misc
# =========================
.dccache
